/* !important to override bootstrap styling */

/* .col-1{
    background-color: blueviolet !important;
}

.col-2{
    background-color: goldenrod !important;
}

.col-3{
    background-color: palegreen !important;
} */